<div class="form-container">
  <aplz-ui-logo size="lg" class="mb-4"></aplz-ui-logo>

  <h1 class="text-xl font-bold mb-2 text-center">Información Personal</h1>
  <p class="text-sm text-gray-500 mb-6 text-center">
    Ayúdanos a completar tu información personal para verificar tu cuenta
  </p>

  <form [formGroup]="form" (ngSubmit)="register()" class="space-y-4">
    <div>
      <label for="firstname" class="block mb-1 text-sm font-medium text-dark">
        Nombre(s) *
      </label>
      <input
        type="text"
        id="firstname"
        class="input-field"
        placeholder="Ingresa tu nombre(s)"
        formControlName="firstName"
      />
      <div *ngIf="firstName.invalid && firstName.touched" class="text-sm text-red-500">
        El nombre es obligatorio.
      </div>
    </div>

    <div>
      <label for="lastname" class="block mb-1 text-sm font-medium text-dark">
        Apellido paterno *
      </label>
      <input
        type="text"
        id="lastname"
        class="input-field"
        placeholder="Ingresa tu apellido paterno"
        formControlName="lastName"
      />
      <div *ngIf="lastName.invalid && lastName.touched" class="text-sm text-red-500">
        El apellido paterno es obligatorio.
      </div>
    </div>

    <div>
      <label for="secondLastName" class="block mb-1 text-sm font-medium text-dark">
        Apellido materno *
      </label>
      <input
        type="text"
        id="secondLastName"
        class="input-field"
        placeholder="Ingresa tu apellido materno"
        formControlName="secondLastName"
      />
      <div *ngIf="lastName.invalid && lastName.touched" class="text-sm text-red-500">
        El apellido materno es obligatorio.
      </div>
    </div>

    <div class="grid gap-4 md:grid-cols-2">
      <!-- FECHA DE NACIMIENTO -->
      <div>
        <label for="dateOfBirth" class="block mb-1 text-sm font-medium text-dark">
          Fecha de nacimiento *
        </label>
        <input
          type="date"
          id="dateOfBirth"
          class="input-field"
          formControlName="dateOfBirth"
        />
        <div *ngIf="dateOfBirth.invalid && dateOfBirth.touched" class="text-sm text-red-500">
          La fecha de nacimiento es obligatoria y debes ser mayor de edad.
        </div>
      </div>
    
      <!-- SEXO -->
      <div>
        <label for="sex" class="block mb-1 text-sm font-medium text-dark">
          Sexo *
        </label>
        <select
          id="sex"
          class="input-field"
          formControlName="sex"
        >
          <option value="">Selecciona una opción</option>
          <option *ngFor="let option of sexOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>

    <!-- LUGAR DE NACIMIENTO -->
    <div>
      <label for="birthPlace" class="block mb-1 text-sm font-medium text-dark">
        Lugar de nacimiento *
      </label>
      <select
        id="birthPlace"
        class="input-field"
        formControlName="birthPlace"
      >
        <option value="">Selecciona una opción</option>
        <option *ngFor="let place of birthPlaces" [value]="place">{{ place }}</option>
      </select>
    </div>

    <!-- CURP -->
    <div>
      <label for="curp" class="block mb-1 text-sm font-medium text-dark">
        CURP *
      </label>
      <input
        type="text"
        id="curp"
        class="input-field"
        placeholder="Ingresa tu CURP"
        formControlName="curp"
      />
      <small class="text-xs text-gray-500 mt-1 block">Ingresa el CURP que aparece en tu INE</small>
    </div>


    <button
      aplzButton
      aplzAppearance="stroked"
      aplzColor="dark"
      size="md"
      type="submit"
      class="w-full"
      [disabled]="form.invalid"
    >
      CONTINUAR
    </button>
  </form>

  <p class="text-xs text-gray-400 mt-6 text-center">VERSIÓN: 5.6.0</p>
</div>
